/*header {
    margin: auto;
    width: 70%;
}*/

header h4 {
    margin: 0px 10px;
    color: lightgray;
}

table.normal {
    width: 100%;
    border:solid 1px #008cba;
    border-collapse: collapse;
    margin-top: 10px;
}

.normal th {
    padding: 5px;
    color: #fff;
}

.normal th,
.normal td {
    border: 1px solid #008cba;
    text-align: left;

}

th {
    background-color: #008cba;
}

tr:nth-child(even) {
    background: lightgrey;
}

tr:nth-child(odd) {
    background: #FFFFFF;
}

.normal tbody tr:hover {
    background: #ADD8E6;
}

button,
th {
    cursor: pointer;
}

button {
    margin: 5px;
    background: #00A65A;
    padding: 3px 10px 3px 5px !important;
    height: 35px;
    border: 1px solid #00A65A;
    border-radius: 3px;
    color: #000;
}

button.hover {
    color: #fff;
}

button:disabled {
    color: graytext;
    cursor: normal;
}

button.deleteBtn {
    background: #F39C12;
    padding: 3px 10px 3px 5px;
    border: 1px solid #E8483F;
    border-radius: 3px;
    color: #000;
}
button.deleteBtn,button.editBtn
{
    height:25px !important;
}
.normal tbody tr:hover button.editBtn,
.normal tbody tr:hover button.editBtn {
    color: #fff
}

section.container {
    margin: auto;
    width: 70%;
    min-width: 950px;
}

section.container div {
    margin: 5px;
}


/* Case - Styles */

nav.case {
    float: right;
    padding: 0px 10px;
}

div.container.case {
    background: #fff no-repeat right top;
    /*border: solid 1px darkcyan;*/
    width: 750px;
    height: 420px;
    margin: auto;
    padding: 0px 20px;
    text-align: center;
}

div.container.case .left,
div.container.case .right {
    float: left;
    width: 50%;
}

div.container.case .title {
    background-color: darkcyan;
    border-bottom: solid 1px darkcyan;
    color: white;
}

div.container.case section {
    border: solid 1px darkcyan;
}

div.container.case .title h3 {
    margin: 0px;
    padding: 5px;
}

div.container.case .content {
    background-color: lightcyan;
    padding: 5px;
}

div.container.case .mid-text {
    border: none;
}

form.caseForm {
    background-color: lightcyan;
    border: solid 1px darkcyan;
    width: 15%;
    min-width: 170px;
    margin: auto;
    text-align: center;
}

form.caseForm div {
    margin: 5px;
    text-align: left;
}

form.caseForm input {
    border: solid 1px darkcyan;
    padding: 1px 1px 2px 1px;
    font: inherit;
}


/* Angular specific styles */

input.ng-invalid.ng-dirty {
    border:solid 1px orangered;
}

input.ng-valid.ng-dirty {
    /*background-color: darkcyan;*/
}

.error-msg {
    color: red;
    font-size: 0.8em;
}

.navbar {
    margin-bottom: 0px;
}

.employeeForm input
{
    border-radius: 3px;
}
.employeeForm .panel
{
    margin-top:20px;
    border-radius: 4px;
}
.employeeForm label
{
    font-weight: bold;
    padding-right:0px !important;
}
.employeeForm
{
    padding-bottom: 20px;
}

input[ng-model="search"]
{
    height:30px !important;
    border:solid 1px #ccc;
    border-radius: 3px;
}

/* Override toastr font size - affected by bootstrap */ 
#toast-container {
    font-size: 13px;
}